/* Footer */
.footerPhoneNumber{
  font-weight: 900;
  color: #6c7b7d;
  line-height: .7;
  letter-spacing: .05;
  font-size: 1.3rem;
}
.footerInfo{
  padding: 20px;
}
.footerTitle{
  text-align: left;
  font-size: 3.56rem;
  padding: 0 15px;
  letter-spacing: -.002em;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #223843;
}
.footerAddress{
  font-weight: 300;
  color: #6c7b7d;
  line-height: .7;
  letter-spacing: .05;
  font-size: 1rem;
}
.footerLinks{
  margin: 1rem;
  margin-left:0rem;
  color:#6c7b7d;
  font-weight: 900;
  line-height: .7;
  letter-spacing: .05;
  font-size: 1.3rem;
}
#socialLinks{
  padding:0;
  float: left;
  margin:1rem auto;
  display: inline-flex;

}
#responsiveFooter{
  margin: 50px 0;
}
.footerRightsContainer{
  margin-top: 2rem;
}

@media only screen and (max-width: 40em) {
  .footerTitle{
    font-size: 2.5rem;
    padding:0 10px;
  }
} 
/*
.responsive-blog-footer {
  background:black;
  padding:3rem 3rem;
  color: white;
  position: relative;
  bottom:0;
  border-top: 1px black;
}
.socialIcons{
  list-style: none;
  display: inline-flex;
}
.socialIcons li{
  margin: .5rem;
}

@media screen and (max-width: 39.9375em) {
  .responsive-blog-footer h4 {
    font-size: 1.5rem;
  }
}

.responsive-blog-footer p {
  color: #8a8a8a;
}

.responsive-blog-footer .mailing-list {
  margin-bottom: 1.5rem;
}

.responsive-blog-footer .mailing-container {
  margin-bottom: 2rem;
}

.responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
  margin-bottom: 2rem;
}

.responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
  color: #1779ba;
}

.responsive-blog-footer .subscribe-button {
  background-color: #1779ba;
}

.responsive-blog-footer .subscribe-button:hover {
  background-color: #146aa3;
  transition: color 0.3s ease-in;
}

.responsive-blog-footer .fa-chevron-circle-up {
  font-size: 3rem;
  color: #8a8a8a;
}

.responsive-blog-footer .fa-chevron-circle-up:hover {
  color: #b0b0b0;
  transition: color 0.3s ease-in;
}*/

